---
export const prerender = false;
import { LikeCount } from 'astro:db';
import { db, sql, count } from 'astro:db';
import MainFlow from '@layouts/MainFlow.astro';
import dayjs from '@utils/dayjs';

const allLikes = await db
    .select({ path: LikeCount.path, count: count() })
    .from(LikeCount)
    .groupBy(sql`${LikeCount.path}`);
const sortedAndFiltered = allLikes
    .sort((a, b) => b.count - a.count)
    .filter((like) => like.count > 0);

// Check if authenticated
const user = Astro.locals.user;
if (!user) {
    return Astro.redirect('/login');
}

const username = user.username;
---

<MainFlow>
    <h2 class="capitalize">Welcome, {username}!</h2>

    <table>
        {
            sortedAndFiltered.map((data) => {
                const time = dayjs.utc(data.date_updated).format();
                return (
                    <tr>
                        <td>{data.path}</td>
                        <td>{data.count}</td>
                        <td>
                            <time datetime={time}>{time}</time>
                        </td>
                    </tr>
                );
            })
        }
    </table>
    <form action="/api/logout" method="POST">
        <button class="button">Sign Out</button>
    </form>
</MainFlow>
<script>
    const times = document.querySelectorAll('time');
    for (let time of times) {
        time.innerHTML = new Date(time.dateTime).toLocaleString();
    }
</script>

<style>
    td {
        padding: 1rem;
    }
</style>
