---
import dayjs from '@utils/dayjs';
const { post } = Astro.props;
const readableDate = dayjs(post.data.date).utc().format('DD MMM YYYY');
let link = post.bms ? post.data.slug : `/blog/${post.slug}`;
---

<li>
    <time class="time" datetime={post.data.date}>{readableDate}</time>

    <a class="title" href={link}>
        {post.data.title}
    </a>

    {
        post.bms ? (
            <span class="bms-container">
                <span>[</span>
                <span class="bms">Birds Make Sound</span>
                <span>]</span>
            </span>
        ) : null
    }
</li>

<style>
    li {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: [time-start] 8em [time-end title-start] auto [title-end bms-start] auto [bms-end];
        justify-content: start;
        align-items: baseline;
        margin-bottom: 1em;
    }

    time {
        grid-column: time;
        font-size: var(--step--1);
        min-width: 8em;
    }

    .title {
        grid-column: title;
    }

    .bms {
        font-size: var(--step--1);
        color: #646ead;
    }

    .bms-container {
        grid-column: bms;
        margin-left: 1rem;
    }

    @media (max-width: 640px) {
        li {
            grid-template-columns:
                [title-start time-start] auto [time-end bms-start] minmax(
                    0,
                    1fr
                )
                [title-end bms-end];
            grid-template-rows: auto auto;
        }

        time {
            grid-row: 2 / 3;
            min-width: 0;
        }
    }

    @media (prefers-color-scheme: dark) {
        .bms {
            color: hsla(267, 100%, 86%, 1);
        }
    }
</style>
