---
import DisplayTags from '@components/DisplayTags.astro';
import LikeButton from '@components/LikeButton.svelte';
import TOC from '@components/TOC.astro';
import Base from '@layouts/Base.astro';

import { trimUrlPathname } from '@utils/trimUrlPathname';
import { db, QuailLikes, eq, count } from 'astro:db';

const { project } = Astro.props;
const { headings } = await project.render();

const urlPathName = trimUrlPathname(Astro.url.pathname);

const [likes] = await db
    .select({ count: count() })
    .from(QuailLikes)
    .where(eq(QuailLikes.path, urlPathName));

const initCount = likes.count;
---

<Base title={project.data.title}>
    <div class="toc-container">
        <TOC headings={headings} />
        <main>
            <article class="flow">
                <h1>{project.data.title}</h1>
                <div class="mb-8">
                    <DisplayTags tags={project.data.tags} />
                </div>
                <slot />
            </article>
            <LikeButton
                client:load
                url={trimUrlPathname(Astro.url.pathname)}
                initCount={initCount}
            />
            <nav class="project-nav">
                <a href="/projects/">Back to Projects</a>
            </nav>
        </main>
    </div>
</Base>

<style>
    .toc-container {
        display: flex;
        align-items: flex-start;
        column-gap: 1.5rem;
        flex-grow: 1;
    }

    main {
        flex-shrink: 0;
    }

    article {
        margin-bottom: 2rem;
    }

    a {
        color: unset;
    }

    .project-nav {
        padding-block: 1rem;
        border-top: 1px dashed var(--text-color);
    }
</style>
